
.pasto{
    width:1000px ;
    height:500px ;
    background:#73AD21;
    position: relative;
}

.cancha{
    width: 940px;
    height: 440px;
    position:relative;
    top:24px;
    bottom: ;
    right: 5px;
    left:24px;
    border: 5px solid #FFFFFF;
    background:#73AD21;
}

.area_izquierda{
    width: 150px;
    height: 300px;
    position:relative;
    top:-150px;
    bottom: ;
    right: 5px;
    left: ;
    border: 5px solid #FFFFFF;
    background:#73AD21;
}

.area_derecha{
    width: 150px;
    height: 300px;
    position:relative;
    top:-455px;
    bottom: ;
    right:;
    left:784px;
    border: 5px solid #FFFFFF;
    background:#73AD21;
}

.circulo{
     width: 200px;
     height: 200px;
     position:relative;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#73AD21; 
     border: 5px solid #FFFFFF;
     top:125px;
     bottom: ;
     right:;
     left:370px;
}
.ball1 {
    width: 50px;
    height: 50px;
    background-image:url(../img/ball.png);
    background-size: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0px;
}






